body { background-color:#eaf6f6;}
body {background-color: ;}
	
	hr {background-color:white;
	border-style:none;
	height:1px;
	width: 5%;
	border-top-style: dotted;
	border-color: grey;
	border-width:5px;}
	h1 {color:#66bfbf;}
	h3 {color:#66bfbf;}